variable "aws_profile_name" {
  description = "AWS profile name"
  default     = "default"
}

variable "aws_region" {
  description = "AWS region"
  default     = "us-east-2"
}

variable "project" {
  description = "Name of your project"
  default     = "personal"
}

variable "keypair_name" {
  description = "Name of your keypair"
  default     = "secret_key"
}

variable "personal_ip" {
  description = "Your IP address"
  default     = "0.0.0.0"
}
